<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bidma</servlet-name>
        <servlet-class>bidma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controleuradmin</servlet-name>
        <servlet-class>controleuradmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>Deconnection</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ajouter</servlet-name>
        <servlet-class>ajouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrl_selection</servlet-name>
        <servlet-class>Ctrl_selection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertcommande</servlet-name>
        <servlet-class>insertcommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer</servlet-name>
        <servlet-class>supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectmodifier</servlet-name>
        <servlet-class>selectmodifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rendue</servlet-name>
        <servlet-class>rendue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier</servlet-name>
        <servlet-class>modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lebilan</servlet-name>
        <servlet-class>lebilan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commandeadmin</servlet-name>
        <servlet-class>commandeadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminoeuvre2</servlet-name>
        <servlet-class>adminoeuvre2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminoeuvre</servlet-name>
        <servlet-class>adminoeuvre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrl_inscription</servlet-name>
        <servlet-class>Ctrl_inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bidma2</servlet-name>
        <servlet-class>bidma2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>bidma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pas_trouvee</servlet-name>
        <servlet-class>pas_trouvee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>poesie</servlet-name>
        <servlet-class>poesie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>epistolaire</servlet-name>
        <servlet-class>epistolaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>theatre</servlet-name>
        <servlet-class>theatre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>romanesque</servlet-name>
        <servlet-class>romanesque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrl_selectioncommandes</servlet-name>
        <servlet-class>ctrl_selectioncommandes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mescommandes</servlet-name>
        <servlet-class>mescommandes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>controleuradmin</servlet-name>
        <url-pattern>/controleuradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/Deconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bidma</servlet-name>
        <url-pattern>/bidma</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ajouter</servlet-name>
        <url-pattern>/ajouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrl_selection</servlet-name>
        <url-pattern>/Ctrl_selection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertcommande</servlet-name>
        <url-pattern>/insertcommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer</servlet-name>
        <url-pattern>/supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectmodifier</servlet-name>
        <url-pattern>/selectmodifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rendue</servlet-name>
        <url-pattern>/rendue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lebilan</servlet-name>
        <url-pattern>/lebilan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commandeadmin</servlet-name>
        <url-pattern>/commandeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminoeuvre2</servlet-name>
        <url-pattern>/adminoeuvre2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminoeuvre</servlet-name>
        <url-pattern>/adminoeuvre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrl_inscription</servlet-name>
        <url-pattern>/Ctrl_inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bidma2</servlet-name>
        <url-pattern>/bidma2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pas_trouvee</servlet-name>
        <url-pattern>/pas_trouvee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>poesie</servlet-name>
        <url-pattern>/poesie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>epistolaire</servlet-name>
        <url-pattern>/epistolaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>theatre</servlet-name>
        <url-pattern>/theatre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>romanesque</servlet-name>
        <url-pattern>/romanesque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrl_selectioncommandes</servlet-name>
        <url-pattern>/ctrl_selectioncommandes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mescommandes</servlet-name>
        <url-pattern>/mescommandes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
